* {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px 20px;
}

#root {
    height: 100%;
}

#root>div {
    height: 100%;
}

.container {
    height: 90%;
    overflow: hidden;
}

.menueButtons {
    max-height: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.menueButton {
    background-color: #ffffff00;
    color: #74b3ff;
    width: 20%;
    margin: 5px 5px 5px 0;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
    position: relative;
    text-decoration: none;
}

.menueButton::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #74b3ff;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: center;
}

.menueButton:hover::after {
    transform: scaleX(1);
}